@model IEnumerable<AssetManagement.Models.Assignment>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Assignments</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Name
        </th>
        <th>
            Computer Name
        </th>
        <th>
            MS Office
        </th>
        <th>
            MS Visio
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StatusID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Comment)
        </th>

        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Employee.FirstName) @Html.DisplayFor(modelItem => item.Employee.LastName )
        </td>
        <td>
            @Html.ActionLink(item.Hardware.LabelName, "Details", "Hardwares", new {id = item.Hardware.ID }, null)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Software.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Software1.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StatusID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Comment)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID })            
        </td>
    </tr>
}

</table>
