@model AssetManagement.Models.Software

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Software</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.POID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.POID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LicenseNo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LicenseNo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PurchaseOrder.PO_Number)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PurchaseOrder.PO_Number)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Status.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Status.Description)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
