@model IEnumerable<AssetManagement.ViewModels.SoftwareVM>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Softwares</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Software Name
        </th>
        <th>
            Total License
        </th>
        <th>
            Used License Number
        </th>
        <th>
            PO Number
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.SoftwareName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TotalLicNo)
        </td>
        <td>
            @Html.ActionLink(item.UsedLicNo.ToString(), "Usedlic", "Softwares", new { id = item.ID }, null)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PONumber)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID })
        </td>
    </tr>
}

</table>
