@model IEnumerable<AssetManagement.Models.Hardware>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Hardwares</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Model)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ServiceTag)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LabelName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PurchaseOrder.PO_Number)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Status.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Type1.Description)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Model)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ServiceTag)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LabelName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PurchaseOrder.PO_Number)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Status.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Type1.Description)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
